#header-logo {
    width: 3.5rem;
    height: 3.5rem;
}

header .nav-link {
    font-size: 1rem !important;
}

header .nav-item:hover {
    border-bottom: 1px solid grey;
}

main {
    min-height: 80%;
}

footer>.navbar-brand>img {
    width: 3rem;
    height: 3rem;
}

footer .nav-link {
    font-size: 0.75rem;
}
